body {
  background-image: url(../images/background.jpg);
  background-size: 100%;
  background-repeat: repeat-y;
  font-family: 'Lato', sans-serif;
}


.jumbotron {
  position: relative;
  background-color: transparent;
  padding: 0.6em 0.6em;
  margin: 2.0em 0.0em 0em 0.0em;
}
.jumbotron h1 {
    font-size: 4em;
  color: #231F20;
}
.jumbotron h2 {
    font-size: 2em;
  color: #CAD49D;
}

img {
  width: 350px;
  height: 250px;
}

.btn-block {
  display: block;
  width: 100%;
  margin-right: 20%;

}

blockquote {
  border-left:none;
  font-family: 'Shrikhand', cursive;
  font-size: 250%;
}

blockquote:before {
  display: block;
  padding-left: 10px;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -20px;
  top: -20px;
  color: #231F20;
};

body {
  font-family: 'Special Elite', cursive;
}

#snippets {
  font-family: 'Special Elite', cursive;
}

#next-question {
  background-color: #BB4430;
  color: #F3DFA2;
  padding: 10px;
  font-size: 28px;
  margin-top: 30px;

}

#results {
  font-size: 22px;
  color: #231F20;
  font-style: italic;
  margin-top: 30px;
}

.form-group label{
  font-size: 20px;
}

.form-control {
  display: block;
  width: 50%;
  height: 35px;
  padding: 11px;
  font-size: 14px;
  line-height: 0.428571;
  color: #231F20;
  background-color: #F3DFA2;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#lyric-holder {
  margin-top: 20px;
}

#whatSong {
  font-size: 30px;
  font-weight: bolder;
}