body {
    background-image: url(../images/background.jpg);
    background-size: 100%;
    background-repeat: repeat-y;
}

 nav .nav-wrapper {
    font-family: 'Special Elite', cursive;
    background-color: #EFE6DD;
    padding: 55px;
 }


 nav .brand-logo {
    color: #231F20;
    margin-top: -27px;
    margin-left: -25px;
    font-size: 40px;
    letter-spacing: 3px;
 }

.genreHead {
    font-family: 'Special Elite', cursive;
    color: #7EBDC2;
    font-size: 40px;
    letter-spacing: 10px;
    margin-top: 40px;
    margin-bottom: 5px;
    text-shadow: -1px 0 #231F20, 0 1px #231F20, 1px 0 #231F20, 0 -1px #231F20;

}

.card .card-content {
    background-color: #7EBDC2;
    font-family: 'Special Elite', cursive;

}

.card .card-content a {
    color: #BB4430
}

#nav-mobile {
    margin-top: -23px;
    margin-right: -55px;
    margin-bottom: 35px;
}

nav ul a {
    color: #231F20;
}

#switchTrans {
    position: absolute;
    right: 260px;
    top: 32px;
    color: #231F20;
    text-decoration-line: underline;
}

.current {
    background-color: #BB4430
}

.shakespeareClass{
    font-size: 30px !important;
}

.hidden {
    display: none;
}


.play {
    display: inline;
}

.selected {
    border: 6px solid #BB4430;
}
